@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue sur AIR FRANCE</h1>
    <h2>Vous pourrez retrouver toutes les informations concernant nos vols.</h2>
</div>
