@model TdCDA.Models.City

@{
    ViewData["Title"] = "Details";
}

<h1>Informations</h1>

<div>
    <h4>Ville</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Identifiant de la ville
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCity)
        </dd>
        <dt class = "col-sm-2">
            Nom de la ville
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <div>
            @Html.ActionLink("Modifier", "Edit", new { id = Model.IdCity }) |
            <a asp-action="Index">Retour à la liste</a>
        </div>
    </dl>
</div>

